*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-size: 16px;
  color: orange;
  background-color: chartreuse;
  margin: 10px;
  padding: 50px;
}

nav{
  margin: 10px;
  padding: 50px;
}

main{
  margin: 10px;
  padding: 50px;
}

footer{
  font-size: 16px;
  color: orange;
  background-color: chartreuse;
  margin: 10px;
  padding: 50px;
}

.nav-list {
  list-style: none;
}

a{
  text-decoration: none;
  color: white; 
}

h1{
  font-family: 'Bebas Neue', cursive;
}

h2{
  font-family: 'Bebas Neue', cursive;
}

p{
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("background.jpg") ;
  background-size: cover;
  background-position: center;
  margin: 10px;
  padding: 50px;
} 
.nav-list { 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
} 

.item { 
  flex: 1 1 200px; 
  margin: 10px; 
  background-color: #2196F3; 
  padding: 20px; 
}

.grid-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto 1fr; 
  gap: 10px;
  padding: 10px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8); 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px); 
  transition: all 0.3s ease; 
}

@media only screen and (max-width: 768px)  {
  .grid-container { 
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1200px) { 
  .grid-container { 
    grid-template-columns: 1fr 1fr 1fr;
  } 
}