header{
  font-size: 16px;
  color: orange;
  background-color: chartreuse;
}

footer{
  font-size: 16px;
  color: orange;
  background-color: chartreuse;
}

.nav-list {
  list-style: none;
}

a{
  text-decoration: none;
}